.servicelists-layout301 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.servicelists-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.servicelists-text10 {
  text-align: center;
}
 
.servicelists-row {
  width: 100%;
}
 
.servicelists-feature1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.servicelists-content1 {
  align-self: stretch;
  align-items: center;
}
 
.servicelists-section-title1 {
  align-self: stretch;
  align-items: center;
}
 
.servicelists-title1 {
  text-align: center;
}
 
.servicelists-description1 {
  text-align: center;
}
 
.servicelists-feature2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.servicelists-content2 {
  align-self: stretch;
  align-items: center;
}
 
.servicelists-section-title2 {
  align-self: stretch;
  align-items: center;
}
 
.servicelists-title2 {
  text-align: center;
}
 
.servicelists-description2 {
  text-align: center;
}
 
.servicelists-action1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.servicelists-feature3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.servicelists-content3 {
  align-self: stretch;
  align-items: center;
}
 
.servicelists-section-title3 {
  align-self: stretch;
  align-items: center;
}
 
.servicelists-title3 {
  text-align: center;
}
 
.servicelists-description3 {
  text-align: center;
}
 
.servicelists-feature4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.servicelists-content4 {
  align-self: stretch;
  align-items: center;
}
 
.servicelists-section-title4 {
  align-self: stretch;
  align-items: center;
}
 
.servicelists-title4 {
  text-align: center;
}
 
.servicelists-description4 {
  text-align: center;
}
 
.servicelists-action2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.servicelists-text11 {
  display: inline-block;
}
 
.servicelists-text12 {
  display: inline-block;
}
 
.servicelists-text13 {
  display: inline-block;
}
 
.servicelists-text14 {
  display: inline-block;
}
 
.servicelists-text15 {
  display: inline-block;
}
 
.servicelists-text16 {
  display: inline-block;
}
 
.servicelists-text17 {
  display: inline-block;
}
 
.servicelists-text18 {
  display: inline-block;
}
 
.servicelists-text19 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .servicelists-row {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .servicelists-feature1 {
    width: 100%;
  }
  .servicelists-feature2 {
    width: 100%;
  }
  .servicelists-feature3 {
    width: 100%;
  }
  .servicelists-feature4 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .servicelists-text10 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .servicelists-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
